:root {
  --main-bg-light-color: #eef4ed;
  --second-bg-light-color: #8da9c4;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#before-outlet{
  margin-bottom: 3.5rem;
  opacity: 0
}

.curt {
  border: red solid 1px
}
.outlet {
  height: 90vh;
}
