:root {
  /* фон */
  --main-body-color: #d9d9d9;
  /* дивы, кнопки и прочее */
  --main-gray-color: #353535;
  --second-gray-color: #252525;
  --main-light-color: #dfdfdf;
  --second-light-color: #c6c6c6;
  --main-dark-color: #000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#before-outlet {
  margin-bottom: 3.5rem;
  opacity: 0;
}

.curt {
  border: red solid 1px;
}
