:root {
  --sidebar-length: 25%;
  --modal-width: 40rem;
}
button {
  padding: 0.5rem;
  border-radius: 5px;

  text-align: center;
  display: block;

  &:hover {
    transform: scale(1.05);
    transition: 0.1s;
  }
  &:active {
    transform: scale(1.02);
  }
  transition: 0.15s;
}

.closemodalbtn {
  border-radius: 45%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1rem;
  right: 1.1rem;
  &:hover {
    transform: none;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.field {
  padding: 0.5em;
  background-color: var(--main-gray-color);
  color: var(--main-light-color);
  width: 60em;
  border-radius: 5px;
  display: grid;
  grid-template-columns: var(--sidebar-length) calc(
      100% - var(--sidebar-length)
    );
}

.sidepanel {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
  > div {
    height: 2em;
    font-size: 24pt;
    > .flex {
      display:block;
    height: 100%;
      
      > span {
      margin-left: .6em;
      /* text-align: center; */
      display: block;
      align-items: center;
    }}
  }
}

.mainpanel {
  > .flex {
    justify-content: space-around;
    height: 4.5em;

    > button {
      margin: 0.17em;
      width: 30%;
      border-radius: 5px;

      font-size: 39px;
      text-align: center;
      display: block;

      &:hover {
        transform: scale(1.05);
        transition: 0.1s;
      }
      &:active {
        transform: scale(1.02);
      }
      transition: 0.5s;
    }
  }
}

.counter {
  color: var(--second-light-color);
  transition: 1s;
}
.countergreen{
  color: green;
  transition: 1s;
}
.counterred {
  color: red;
  transition: 1s;
}

@keyframes :(gomyModal) {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  padding: 1rem;
  border-radius: 5px;
  width: var(--modal-width);
  top: 20rem;
  left: calc((100% - var(--modal-width)) / 2);
  background-color: var(--main-gray-color);
  color: var(--main-light-color);
  box-shadow: 6px 8px 23px black;

  animation: myModal 1s;

  > .grid {
    margin-top: 1.5rem;
    grid-template-columns: 50% 50%;
    > button {
      margin: 0.2rem 0.1rem 0;

      &:hover {
        transform: scale(1.01);
        transition: 0.1s;
      }
      &:active {
        transform: scale(1.0012);
      }
      transition: 0.5s;
    }
  }

  > .flex {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
  }
}

.separator {
  background-color: var(--second-light-color);
  /* margin-top: 1em; */
  height: 1px;
  width: 90%;
}
